*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/

app/src/main/java/com/bugtsa/casher/utls/GoogleSheetManager\.kt
app/google-services.json
app/casher-bugtsa-app.json
/buildSrc/build/
/lint-rules/build/
